.hero{
    height: 500px;
    background: center/cover no-repeat;
}
.hero1{
    background-image: url('/images/slide/slide-1.jpg');
}
.hero2{
    background-image: url('/images/slide/slide-2.jpg');
}
.hero3{
    background-image: url('/images/slide/slide-3.jpg');
}
.hero>div{
    height: fit-content;
}
.loremCard>i{
    font-size: 40px;

}